.searchBox {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%,50%);
    background: #2f3640;
    border-radius: 40px;
    padding: 10px;
}

.searchBox:hover > .searchInput {
    width: 240px;
    padding: 0 6px;
}

.searchBox:hover > .searchButton {
  background: white;
  color : #2f3640;
}

.searchButton {
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.searchInput {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;

}

.searchInput:not(:placeholder-shown) {
  width: 240px;
  padding: 0 6px;
}

@media screen and (max-width: 620px) {
  .searchBox:hover > .searchInput {
      width: 150px;
      padding: 0 6px;
  }

  .searchInput:not(:placeholder-shown) {
    width: 150px;
    padding: 0 6px;
  }
}

select {
  width: 200px;
  height: 20px;
}

.search-result {
  position: static;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 4px;
  margin-top: 5%;
  top: 35px;
}

img {
  flex: 25%;
  max-width: 25%;
  padding: 4px 4px;
}

/* Responsive layout - makes a three column-layout instead of four columns */
@media (max-width: 1200px) {
  img {
    flex: 30%;
    max-width: 30%;
  }
}

/* Responsive layout - makes a two column-layout instead of three columns */
@media (max-width: 800px) {
  img {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  img {
    flex: 100%;
    max-width: 100%;
  }
}